@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
/* Bordered form */
form {
    border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=submit]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
}

a{
    position: absolute;
    bottom: 95%; 
    right: 14pt;
    font-size: 18px;
}

table {
font-family: 'Ubuntu Condensed', sans-serif;
font-size: 18px;
margin: auto;
text-align: center;
width: 60%;
border-collapse: collapse;
box-shadow: 0 0 0 4px;
color: #452F21;
}
th {
padding: 10px 38px;
}
table th:first-child {
border-top-left-radius: 20px;
}
table th:last-child {
border-top-right-radius: 20px;
}
td {
border-top: 4px solid;
padding: 48px;
background: white;
}


/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Add padding to containers */
.container {
    padding: 16px;
}

.alert-success {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    width: 100%;
}

.alert-danger{
    background-color: #AD4545;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    width: 100%;
}
